In [38]:
# All Imports
import pandas as pd
import numpy as np

import mlxtend
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [39]:
# Note for Users:
# Please ensure that your dataset is formatted as a list of items, 
# where each transaction is represented as a comma-separated string of items. 
# For example:
# olive oil, frozen smoothie, green tea, whole wheat flour, salmon

# Each transaction should be on a new line in the input file. 
# This format is required for the FP-Growth and Apriori algorithms to function correctly.


# Reading the Dataset
df = pd.read_csv("Example_Dataset.csv", header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Pre-Processing the Data

In [40]:
preprocessed_df = df.copy()

# Creating a new column which contains all the different items as a list
list_of_items_col = 'List of Items'
if list_of_items_col not in preprocessed_df.columns:
    preprocessed_df[list_of_items_col] = preprocessed_df.apply(lambda x: x.dropna().tolist(), axis = 1)

# Dropping all other columns
preprocessed_df = preprocessed_df[[list_of_items_col]]
# preprocessed_df


# Encoding 
transactions = preprocessed_df[list_of_items_col].tolist()
transaction_encode = TransactionEncoder()
transaction_encode.fit(transactions)

encoded_transactions = transaction_encode.transform(transactions)

preprocessed_df = pd.DataFrame(encoded_transactions, columns=transaction_encode.columns_)

In [41]:
# Note:
# The 'preprocessed_df' DataFrame now contains the encoded transactions where each item is represented as a column header.
# Each row indicates the presence (True) or absence (False) of items in that specific transactions.
# For example, the structure will look like this:
#
# avocado   honey   mineral water   frozen smoothie   eggs   spinach   burgers
# 0    True    False         True            False      True     False      True
# 1   False     True        False             True     False      True     False

preprocessed_df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

# Implementing Apriori Algorithm

### Check out the README file to understand support and confidence

## Inputting the Minimum Support Count

When prompted to enter the **Minimum Support Count**, please provide the value as a decimal rather than a percentage.

For example:
- Enter **0.01** for 1% support, not **1%** or **1**.

In [ ]:
minimum_support_value = input("Input the Minimum Support Count: ")

frequent_items = apriori(preprocessed_df, min_support = float(minimum_support_value), use_colnames=True)
frequent_items

## Inputting the Confidence Threshold

When prompted to enter the **Confidence Threshold**, please provide the value as a decimal rather than a percentage. 

For example:
- Enter **0.75** for 75% confidence, not **75%** or **0.75**.

This ensures the application correctly interprets your input for accurate analysis.

In [ ]:
confidence_threshold = input("Input the Confidence Threshold")

confidence = association_rules(frequent_items, min_threshold = float(confidence_threshold))
confidence